<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./head'); %>
    <style>
      .password-form-wrap {
        display: flex;
        justify-content: center;
        padding: 1.5rem;
      }
      .password-form-section {
        background-color: white;
        padding: 1.5rem;
      }
      .password-form-form__field {
        margin-bottom: 1rem;
      }
      .password-form-form__field input {
        width: 28rem;
        padding: 0.5rem;
      }
      .password-form-form__action {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      .password-form-form__action button {
        width: 100%;
        position: relative;
        border: none;
        background-color: #1abc9c;
        border-radius: 4px;
        color: #fff;
        font-weight: bold;
        line-height: 50px;
        box-shadow: 0 3px 0 #0e8c73;
        cursor: pointer;
      }
      .password-form-form__action button:hover {
        background-color: #31c8aa;
        box-shadow: 0 3px 0 #23a188;
      }
      .password-form-form__action button:active {
        top: 3px;
        box-shadow: none;
      }
      .result-error-message {
        color: red;
      }
      .result-errors {
        margin-bottom: 1rem;
      }
      .result-infos {
        margin-bottom: 1rem;
        color: green;
      }
    </style>
  </head>
  <body>
    <div class="password-form-wrap">
      <section class="password-form-section">
        <h2>パスワードを変更してください</h2>
        <% if (result == 1) { %>
          <p class="result-error-message">
            パスワードが確認用と一致しませんでした
          </p>
        <% } else if (result == 2) { %>
          <p class="result-error-message">
            文字長に問題がありました
          </p>
        <% } else if (result == 3) { %>
          <p class="result-error-message">
            文字種類に問題がありました
          </p>
        <% } %>
        <% if (result) { %>
          <p class="result-error-message result-errors">
            英字大文字, 小文字, 数字を全て含めた 8 文字以上で設定してください
          </p>
        <% } else { %>
          <p class="result-infos">
            英字大文字, 小文字, 数字を組み合わせた 8 文字以上で登録してください
          </p>
        <% } %>
        <form action="/member/login/<%= user.id %>/password" method="POST" autocomplete="new-password">
          <div class="password-form-form__field">
            <p><label>新しいパスワード</label></p>
            <p><input name="password" type="password" value="" required></p>
          </div>
          <div class="password-form-form__field">
            <p><label>新しいパスワード(確認用)</label></p>
            <p><input name="passwordConfirm" type="password" value="" required></p>
          </div>
          <div class="password-form-form__action">
            <button type="submit">変更する</button>
          </div>
        </form>
        <div>
          <a href="/member/login/<%= user.id %>">キャンセル</a>
        </div>
      </section>
    </div>
  </body>
</html>
