<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>IINE - 顧客ユーザ管理画面</title>

<style>
  body {
    font-size: 100%;
    padding: 0;
    margin: 0;
    background-color: lightgray;
  }
  div, p {
    padding: 0;
    margin: 0;
  }
</style>
