<meta charset="UTF-8">
<title>IINE サイトマネージャ画面</title>

<style>
  body { padding: 2rem; }
  form { padding: 1rem; }
  form div { margin-top: 1rem; margin-bottom: 1rem; }
  form p { margin: 0; padding: 0; }
  form input { width: 75%; padding: 0.5rem;}
</style>
