.dark-theme {
  background-color: black;
  color: white;

  a {
    color: lightskyblue;
  }
  a:hover {
    color: gold;
  }
  a:active {
    color: gold;
  }

  small {
    color: silver;
  }

  .g-theme-header {
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
  }
  .g-theme-footer {
    background-color: #393939;
    color: white;
  }
  .g-theme-contents-card {
    background-color: #393939;
    color: white;
  }
  .g-theme-contets-item {
    &__header {
      background-color: black;
    }
    &__draggable {
      background-color: midnightblue;
      box-shadow: 0 0 8px lightsteelblue;
      &--notion {
        color: white;
      }
    }
  }
  .g-theme-edit-contents {
    color: black;
  }
  .g-theme-wysiwyg-editor {
    background-color: #747474;
    color: white;
    --theme-wysiwyg-editor-toolbar-color: white;
    --theme-wysiwyg-editor-toolbar-active-color: lightskyblue;
  }
}
