/**
 * 本クラスは quill で作成したhtmlに設定されるclassを
 * アプリでも同様に表示されるように定義しているもの
 */
.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}
